node_modules
server/config/tokens.json
server/config/credentials.json
js/deleteEvents.js
js/exchange.js
js/generateAuth.js
deprecated/
downloads/courses.json
.env
public/bundle.js
public/bundle.js.LICENSE.txt